# Default SSID prefix template. Use 'XXXX' where the last 4 hex digits of the MAC should be inserted.
DEFAULT_SSID_PREFIX_TEMPLATE="ESP32-XXXX"

# Default authentication mode for softAP
# Options: WPA2_PSK, WPA3_PSK (also accepts WPA3-SAE)
# Note: WPA3 requires CONFIG_ESP_WIFI_SOFTAP_SAE_SUPPORT to be enabled in sdkconfig
DEFAULT_AUTH_MODE="WPA2_PSK"

# Default 802.11 country code (ISO 3166-1 alpha-2)
# Examples: "US" (United States), "JP" (Japan), "DE" (Germany), "GB" (United Kingdom)
# This sets regulatory domain for WiFi channels and transmit power
# See: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
DEFAULT_COUNTRY_CODE="US"

# Default WPS device name template (use 'XXXX' for MAC address suffix)
# This name is broadcast in WPS Information Elements in beacon frames
# Maximum 32 characters. If not specified, defaults to SSID
# Requires CONFIG_ESP_WIFI_WPS_SOFTAP_REGISTRAR=y in sdkconfig (set by default)
DEFAULT_WPS_DEVICE_NAME="ESP32-XXXX"
